/* starting mobile design first to load faster on mobile devices */

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--VeryLightGray);
    font-size: 0.938rem;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: min(300px, 90%);
    margin: 50px 0;
}

h1, p:nth-child(3) {
    color: var(--GrayishBlue);
}

h1, h2, p:nth-child(3) {
    text-align: center;
}

h1 {
    font-size: 1.25rem;
    font-weight: 200;
}

p:nth-child(3) {
    font-size: 0.813rem;
    margin-bottom: 50px;
}

p {
    color: var(--GrayishBlue);
}

section p {
    font-size: 0.75rem;
}

h2, h3 {
    color: var(--VeryDarkBlue);
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 0.938rem;
}

section {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px lightgray;
    border-top: solid 4px;
}

div:nth-child(4) section:nth-child(1) {
    border-color: var(--Cyan);
}

div:nth-child(2) section:nth-child(1) {
    border-color: var(--Red);
}

div:nth-child(2) section:nth-child(2) {
    border-color: var(--Orange);
}

div:nth-child(4) section:nth-child(3) {
    border-color: var(--Blue);
    margin-bottom: 0;
}

section img {
    width: 50px;
    height: 50px;
    margin-top: 15%;
    align-self: flex-end;
}

/* desktop design */

@media screen and (min-width: 376px) {

    main {
        width: 60%;
    }

    section {
        width: 25%;
    }

    p:nth-child(3) {
        padding: 0 250px;
    }

    div:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    div:nth-child(2) {
        display: flex;
        width: 33.33%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main div:nth-child(2) section:nth-child(1) {
        width: 100%;
        margin: 0 0 25px 0;
    }
    
    div:nth-child(2) section:nth-child(2) {
        width: 100%;
        margin-bottom: 0;
    }

    div:nth-child(4) section:nth-child(1) {
        width: 33.33%;
        margin-right: 25px;
    }

    div:nth-child(4) section:nth-child(3) {
        width: 33.33%;
        margin-left: 25px;
    }
    
}
